body {
  background-color: #373c40;
}

h1, h2, h3, h4 {
  font-family: "Proxima Nova", "Helvetica Neue";
  font-weight: 300;
}

h1 {
  font-size: 2.25em; /* 36px / 16px */
  color: #edc27f;
  margin-bottom: 0px;
}

h2 {
  font-size: 1.375em; /* 22px / 16px */
  color: #91d2c9;
  margin-top: 0px;
}

a {
  font-family: "Proxima Nova", "Helvetica Neue";
  text-transform: uppercase;
  text-decoration: none;
  color: #edc27f;
}

a:hover {
  color: #ffffff;
}

p {
  font-family: "Proxima Nova", "Helvetica Neue";
  font-weight: 300;
  color: #aaaaaa;
  font-size: .875em; /* 14px / 16px */
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

#wrapper {
  width: 91%;
  max-width: 960px;
  margin: 0px auto;
  padding: 2.083333333333% 0 0 0; /* 20px / 960px */
}

.header {
  height: 200px;
  width: 93.75%; /* 900px / 960px */
  margin: 0px auto 1.041666666667%; /* 10px / 960px */
}

.logo-area {
  width: 53.3333333333333%; /* 480px / 900px */
  margin: 0 1.111111111111%; /* 10px / 900px */
  float: left;
}

.logo-area img {
  float: left;
  width: 31.25%; /* 150px / 480px */
}

.nav {
  width: 42.222222222222%; /* 380px / 900px */
  margin: 20px 1.111111111111%; /* 10px / 900px */
  float: right;
  text-align: right;
}

.nav ul {
  padding: 0px;
}

.nav li {
  display: inline;
  margin: 0px 1.315789473684%; /* 5px / 380px */
  padding: 10px 2.222222222222%; /* 20px / 900px */
}

.gallery {
  width: 93.75%; /* 900px / 960px */
  margin: 0px auto;
}

.gallery li {
  width: 30.666666666667%; /* 276px / 900px */
  margin: 1.111111111111%; /* 10px / 900px */
  display: inline;
  float: left;
}

.gallery ul {
  padding: 0px;
  margin: 0 .625%; /* 6px / 960px */
}

.gallery p {
  margin: 1.111111111111%;
}

@media screen and (min-width: 480px) and (max-width: 840px) {

  .header .logo-area {
    width: 85%;
  }

  .logo-area img {
    width: 28%;
  }

  .header {
    height: 140px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.1em;
  }

  .nav {
    width: 100%;
    text-align: center;
    margin: 0px auto;
  }

  .gallery li {
    width: 47%;
    display: inline;
  }
}

@media screen and (max-width: 480px) {
  .header .logo-area {
    width: 100%;
    margin: 0px auto; 
    text-align: center;
  }

  .logo-area img {
    width: 50%;
    float: none;
  }

  .nav {
    width: 100%;
    text-align: center;
    margin: 0px auto;
  }

  .gallery li {
    width: 100%;
    display: inline;
  }
}